apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: fornecedorlog
  name: fornecedorlog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fornecedorlog
  strategy: {}
  template:
    metadata:
      labels:
        app: fornecedorlog
    spec:
      containers:
      - image: smartvout/fornecedorlog:2.0
        name: fornecedorlog
        ports:
        - containerPort: 8000
        resources: {}
status: {}
